<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroke Insights</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <div class="nav-container">
            <h1>Stroke Predictions Dataset</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gender">Gender based</a></li>
                <li><a href="/age">Age based</a></li>
                <li><a href="/hypertension">Hypertension</a></li>
                <li><a href="/custom">Custom Query</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Eneko O'Kelly. All rights reserved.</p>
        <a href="https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset?resource=download">Dataset source on Kaggle</a>
    </footer>
</body>
</html>
